<launch>
<!-- TODO Load a world file? -->
<!-- TODO Spawn the model above the ground -->

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="drivebot/robot_description"
         command="$(find xacro)/xacro --inorder '$(find drivebot_description)/urdf/drivebot_model.xacro'" />

  <!-- gazebo_ros options -->
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="true"/>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find drivebot_gazebo)/worlds/drivebot.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

</launch>
