<launch>

<!-- Node without wheel odometry -->
  <node pkg="robot_localization" type="ekf_localization_node" name="drivebot_odom">
    <param name="print_diagnostics" value="true" />
    <param name="frequency" value="50" />
    <param name="sensor_timeout" value="0.2" />
    <param name="two_d_mode" value="false" />
    <param name="publish_tf" value="true" />
    <param name="publish_acceleration" value="true" />

    <param name="map_frame" value="map" />
    <param name="odom_frame" value="odom" />
    <param name="base_link_frame" value="base_link" />
    <param name="world_frame" value="odom" />

    <param name="imu0" value="/drivebot/imu" />
    <param name="imu0_differential" value="false"/>
    <param name="imu0_remove_gravitational_acceleration" value="false" />
    <rosparam param="imu0_config">
      [false, false, false,
      true, true, true,
      false, false, false,
      false, false, false,
      true, true, true]
    </rosparam>

    <param name="odom0" value="/drivebot/odometry/gps" />
    <param name="odom0_differential" value="false" />
    <rosparam param="odom0_config">
      [true, true, true,
      false, false, false,
      false, false, false,
      false, false, false,
      false, false, false]
    </rosparam>

    <rosparam param="process_noise_covariance">
      [0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
      0.0, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
      0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
      0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
      0.0, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
      0.0, 0.0, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
      0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
      0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
      0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
      0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0,
      0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.0,
      0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0,
      0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0,
      0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.001, 0.0,
      0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.001]
    </rosparam>

    <remap from="odometry/filtered" to="/drivebot/odometry/filtered/odom" />
  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform">
    <param name="frequency" value="1" />
    <param name="yaw_offset" value="1.57" />

    <remap from="odometry/filtered" to="/drivebot/odometry/filtered/odom" />
    <remap from="imu/data" to="/drivebot/imu" />
    <remap from="gps/fix" to="/drivebot/fix" />
    <remap from="odometry/gps" to="/drivebot/odometry/gps" />
  </node>

</launch>
